@model Person
@{
    ViewData["Title"] = "Update Person";
}

<h2>Update Person</h2>

<div style="width:50%">
    <a href="/Person/Index" class="btn btn-info">Back</a>

    <form asp-action="UpdatePerson" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProfilePicture" />
        <div class="my-2">
            <label>First Name*</label>
            <input type="text" class="form-control" asp-for="FirstName"/>
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>

        <div class="my-2">
            <label>Last Name*</label>
            <input type="text" class="form-control" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>

        <div class="my-2">
            <label>Profile Picture</label>
            @if (!string.IsNullOrWhiteSpace(Model.ProfilePicture))
            {
                <img class="my-1" alt="profile pic" style="width:100px;height:80px" src="/Images/@Model.ProfilePicture" />
            }
            <input type="file" class="form-control" asp-for="ImageFile" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

